body {
  font-family: "Quicksand", sans-serif;
}
.media-box {
  margin: 30px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
  border-color: #fff;
  overflow: hidden;
  border-radius: 12px;
  border-style: solid;
}

.title {
  border: radius 5px;
  border-style: solid;
  border-color: rgb(206, 190, 190);
  border-width: 1px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
}
.avatar {
  box-shadow: 0 0 10px rgba(175, 171, 171, 0.75);
}
.module-card {
  position: relative;
  background-color: #fcfcfc;
  box-shadow: 0 0 20px rgba(243, 240, 240, 0.75);
  border-radius: 20px;
  border-style: solid;
  margin: 3px auto;
}
.dis-duration {
  position: absolute;
  right: 20px;
  bottom: 5px;
  font-size: small;
  font-weight: bold;
  color: rgb(165, 158, 158);
}
.mod-list {
  margin: 30px auto;
  box-shadow: 0 0 20px rgba(204, 198, 198, 0.75);
  border-radius: 20px;
  border-style: solid;
  max-height: 450px;
  border-width: 1px;
  border-radius: 12px;
  background-color: rgb(240, 240, 241);
  overflow-y: scroll;
  border-color: rgb(206, 204, 204);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.module-name {
  color: #7866df;
  font-weight: bold;
  font-size: small;
}
.module-title {
  color: rgb(212, 47, 212);
  font-size: small;
  font-weight: bold;
}
.spinner {
  position: fixed;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.image {
  height: 160px;
  width: 150px;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(83, 79, 79, 0.75);
  margin: 10px;
}
.profile {
  width: 200x;
  height: 225px;
  margin: 30px;
}

.expert-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
